.tweet{
    min-height: 100px;
    margin-top: 15px;
    border: 1px solid lightblue;


    border-radius: 10px;
    padding: 10px;
}
.twitter-acc,.tweet-time{
    font-size: 11px;
    color: cadetblue;
    margin-right: 10px;
}
.p-10{
    padding: 10px;
}
.p-10 img{
 border-radius: 10px;
}
.retweet{
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 50px !important
}